body {
    background: var(--bs-dark);
}
.text-info {
    margin: 25px;
    padding: 25px;
}
.spinner-border {
    width: 10rem;
    height: 10rem;
}
.search-form .btn-group {
    margin-left : 0;
    padding-left: 0;
}
.background-image {
    height: 35rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0px 0px;
}
.card {
    border: none;
}
#usernameSearch {
    display: inline-flex;
    width: auto;
    vertical-align: middle;
}
#submitButton {
    display: inline-flex;
}
#result {
    margin: auto;
    max-width: 80vw;
}
.card-iconlink {
    display:inline-block;
    margin-right: 7px;
}
.card-hotlink {
    float: right;
}

.card-hotlink .site-icon {
    background: #2b2d42;
}

.search-form {
    margin: 10px;
    text-align: center;
}
.site-icon {
    width: 64px;
    height: 64px;
    padding: 4px;
    border-radius: 10px;
}
.site-link-container {
    width: 80%;
    scrollbar-width: thin;
    padding-bottom: 5px;
    display: inline-flex;
}
.non-scroll-container {
    padding-bottom: 13px;
}
.last-link {
    margin-right: 0px !important;
}
.btn-rec-data {
    position: absolute;
    right: 0;
    padding: 2px;
    display: flex;
    border-radius: 50%;
    margin: 3px;
}
.btn-description-data {
    position: absolute;
    left: 0;
    padding: 2px;
    display: flex;
    border-radius: 50%;
    margin: 3px;
}
.view-preferences {
    padding: 15px;
    text-align: center;
    background: var(--bs-gray-400);
    margin: 25px;
    border-radius: 50px;
}
.view-preferences div {
    background: white;
}
#apiCall {
    margin: auto;
}
.card-text {
    background: rgba(0,0,0,0.7);
    margin: auto;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-top: 40px;
    color: white;
    height: 35em;
}
.empty-links {
    height: 71.5px;
}
.btn-group {
    margin: 5px;
    padding: 10px;
}
#year-range {
    margin: 10px;
    padding: 13px;
    display: inline-flex;
    border-radius: var(--bs-border-radius);
    margin-left: 5px;
}
.custom-label-button {
    opacity: 1 !important;
}
.form-label {
    margin-right: 10px;
    margin-left: 10px;
}
.form-range {
    width: auto;
}

#franchise-app .list-group {
    margin: 20px;
    width: 30%;
    display: inline-flex;
}

.list-group-item-action {
    text-align: left;
}

.list-group-item-action *{
    display: inline-flex;
}

.franchise-name {
    margin-bottom: 0px;
}
.franchise-name span {
    margin-left: 10px;
    height: 100%;
}
.score-length {
    float: right;
}
.score-length span {
    height: 100%;
    margin-right: 5px;
}

@media(max-width: 2365px) {
    #result {
        max-width: none;
    }
}
@media(max-width: 1920px) {
    #result {
        max-width: 80vw;
    }
}
@media(max-width: 1420px) {
    #result {
        max-width: none;
    }
}
@media(max-width: 1150px) {
    #result {
        max-width: 80vw;
    }
}

@media(max-width: 950px) {
    #result {
        max-width: none;
    }
}

@media(max-width: 775px) {
    #result {
        max-width: 80vw;
    }
    #year-range {
        display: block;
    }
    .search-form div {
        margin-top: 10px;
    }
}
