.background-image {
    height: 35rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#usernameSearch {
    display: inline-flex;
    width: auto;
    vertical-align: middle;
}
#submitButton {
    display: inline-flex;
}
#result {
    max-width: 80vw;
    margin: auto;
}
.card-iconlink {
    display:inline-block;
    margin-right: 7px;
}
.card-hotlink {
    float: right;
}

.card-hotlink .site-icon {
    background: #2b2d42;
}

#searchForm {
    margin: 10px;
    text-align: center;
}
.site-icon {
    width: 64px;
    height: 64px;
    padding: 4px;
    border-radius: 10px;
}
.site-link-container {
    width: 80%;
    scrollbar-width: thin;
    padding-bottom: 5px;
    display: inline-flex;
}
.non-scroll-container {
    padding-bottom: 13px;
}
.last-link {
    margin-right: 0px !important;
}
.btn-rec-data {
    position: absolute;
    right: 0;
    padding: 2px;
    display: flex;
    border-radius: 50%;
    margin: 3px;
}
.btn-description-data {
    position: absolute;
    left: 0;
    padding: 2px;
    display: flex;
    border-radius: 50%;
    margin: 3px;
}
#view-preferences {
    padding: 15px;
    text-align: right;
}
#apiCall {
    margin: auto;
}
.card-text {
    background: rgba(0,0,0,0.7);
    margin: auto;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-top: 40px;
    color: white;
    height: 35em;
}
.empty-links {
    height: 71.5px;
}
.btn-group {
    margin: 5px;
}
#year-range {
    width: 20%;
    margin: auto;
    margin-right: 0px;
}
.custom-label-button {
    opacity: 1 !important;
}