.background-image {
    height: 15rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 9.8rem;
}
#result {
    display: none;
    max-width: 80vw;
    margin: auto;
}
#apiCall {
    display: none;
}
.card-iconlink {
    display:inline-block;
    margin-right: 7px;
}
.card-hotlink {
    float: right;
}

.card-hotlink .site-icon {
    background: #2b2d42;
}

#searchForm {
    margin: 10px;
}
.site-icon {
    width: 64px;
    height: 64px;
    padding: 4px;
    border-radius: 10px;
}
.site-link-container {
    width: 80%;
    display: inline-flex;
}
.last-link {
    margin-right: 0px !important;
}